{% extends 'base.html.twig' %}

{% block title %}Site en maintenance{% endblock %}

{% block body %}
<div class="container">
    <div class="grix xs2 sm3">
        <div class="col-sm12">
            <h1>Site en maintenance</h1>
		</div>
    </div>
</div>
{% endblock %}
